* {
    font-family: 'StudioSans';
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: "Titillium";
    src: url("../fonts/Titillium-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
@font-face {
    font-family: "StudioSans";
    src: url("../fonts/StudioSans\ Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "StudioSans";
    src: url("../fonts/StudioSans\ Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "StudioSans";
    src: url("../fonts/StudioSans\ Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "StudioSans";
    src: url("../fonts/StudioSans\ Medium.otf") format("opentype");
    font-weight: medium;
    font-style: normal;
  }


//media queres
@mixin screen1020 {
    @media (max-width: 1020px) {
        @content;
    }
}
//medium screens
@mixin screen768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin screen767 {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin screen600 {
    @media (max-width: 600px) {
        @content;
    }
}

// small screens
@mixin screen480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin screen320 {
    @media (max-width: 320px) {
        @content;
    }
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.blue { color: #1D5AA6;}
.green { color: #22B78E;}


.btn {
    background-color: #DD5A6A;
    border-radius: 3.2px;
    color: white;
}

.input {
    border: 0.87px solid #D0D0D0;
    padding: 15px 18px;
    width: 100%;
    &::placeholder {
        color: #213559;
        font-size: 12.22px;
        line-height: 15px;
    }
}



.Banner {
    min-height: 500px;
    background-image: url('../images/Banner_mage.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2 { font-family: 'Titillium'; letter-spacing: 1.28px;}
    .logo {
        width: 30%;
        margin-top: 40px;
    }
    .banner-content {
        color: white;
        margin-top: 40px;
        h3 {
            font-weight: 300;
            letter-spacing: 3.59px;
        }
        .btn {
            margin-top: 30px;
        }
    }
    #formModal {
        width: 340px;
        margin: 0 auto;
        height: 95%;
        background-color: #FFFFFF;
        box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
        @include screen767() {
            margin: 25px 0;
        }
        .input {
            margin-top: 20px;
            font-weight: 300;
        }
        .btn {
            margin-top: 20px;
            border-radius: 0;
            width: 111px;
        }
    }
}

.bone-marrow {
    img { 
        width: 100%;
        @include screen767() {
            margin-bottom: 25px;
        }
    }
    .heading {
        background-image: radial-gradient(ellipse at -35.15% 100%, #2EC4B8 0%, #6078EA 100%);
        border-radius: 4px;
        padding: 17px 16px 18px 25px;
        color: white;
    }
    p{ 
        font-weight: 300;
        &:nth-child(1) { font-weight: 500 !important;}
    }
}

.doctors {
    h1 { color: #22B78E;}
    .doctor-container {
        background-color: #F9F9FF;
        padding: 30px 17% 45px;
        @include screen480() {
            padding: 30px 10% 45px;
        }
        p {
            font-weight: 300;
            letter-spacing: 1.2px;
        }
        .topBorder {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                height: 1px;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
                width: 25%;
                background-color: #22B78E;
            }
        }
        button {
            background-image: radial-gradient(ellipse at -35.15% 100%, #17EAD9 0%, #6078EA 100%);
            border-radius: 4px;
            color: white;
            border: none;
            padding: 17px 21px;
            font-size: 15px;
        }
    }
    .top-bar {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 80%;
            border-radius: 50px;
            background-color: #ECECFF;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.transplant {
    ul {
        list-style-image: url('../images/hospital.png');
        li {
            line-height: 39px;
            padding-left: 15px;
            font-weight: 300;
        }
    }
}

.immune {
    .immune-container {
        padding: 20px;
        background-color: #FFFFFF;
        border: 1px solid #E5EAFF;
        border-radius: 4px;
        box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
        margin-top: 30px;
        min-height: 170px;
        @include screen767() {
            min-height: 200px;
        }
        @include screen480() {
            padding: 10px;
        }
        @include screen320() { min-height: 250px;}
        p { font-weight: 300; margin-top: 15px;}
        img {
            height: 30%;
            margin-bottom: 11px;
        }
    }
}

.FAQ {
    .accordion-collapse { border: none;}
    .accordion-button {
        color: #1D5AA6;
        font-weight: bold;
        border: none;
        border-bottom:1px solid #ECECFF;
        padding: 30px 0;
        text-align: left;
        &::after {
            background-image: url('../images/icon/arrow.png');
        }
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            background-color: white;
        }
        &:not(.collapsed)::after {
            background-image: url('../images/icon/arrow.png');
        }
    }
    ul {
        list-style-image: url('../images/icon/double-tick-indicator.png');
        li {
            padding-left: 13px;
            font-weight: 300;
        }
    }
}

.testimonials {
    .swiper-slide {
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
        width: 500px;
        height: 250px;
        position: relative;
        margin: 30px 20px 20px 0 ;
        padding: 40px 60px;
        @include screen1020() {
            display: table;
        }
        @include screen600() {
            padding: 30px;
            margin-right: 0;
        }
        p { font-weight: 300;}
        .profile {
            margin-bottom: 20px;
            align-items: center;
            .head {
               display: table;
            }
            img {
                height: 66px;
                margin-right: 10px;
            }
        }
        .slant {
            font-style: italic;
        }
        .qoutes {
            position: absolute;
            content: '';
            height: 70px;
            width: 93px;
            top: 20px;
            right: 10px;
            @include screen600() {
                width: 70px;
                height: auto;
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        height: 22px;
        width: 16px;
        top: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:focus { outline: none;}
        &::after { display: none; }
    }
    .swiper-button-next {
        background-image: url('../images/icon/right-arrow.png');
    }
    .swiper-button-prev {
        left: auto;
        right: 30px;
        background-image: url('../images/icon/left-arrow.png');
    }
    button {
        color: #FFFFFF;
        font-family: Arial;
        font-size: 17.14px;
        line-height: 21px;
        background-color: #004498;
        border-radius: 3.81px;
        border: none;
        width: 221px;
        height: 54px;
        margin: 30px auto;
        display: block;
    }
}

footer {
    background-color: #272727;
    height: 250px;
    .text-center:nth-child(1) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }
    p { 
        color: white; 
        font-weight: 300;
        letter-spacing: 1.12px;
    }
}